{% extends 'portfolio/base.html' %}
{% block content %}

{% load static %}

<div class="container p-4">
    <h1 class="font-weight-bold text-center pt-5" id="timeline">Timeline</h1>

<h3 class="text-center mb-4">Hanna has been to 19 Countries</h3>



<div class="container">
    <p class="text-center pt-4 mb-5">Here I seek to give a simple timeline of the major moves I've had
	during the course of my life. </p>
</div>

<br>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6">
            <img src="{% static 'move/Dusseldorf/SongFamilySeaside.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--May 2000-March 2003--</h4>
            <h5 class="text-center mb-3">Dusseldorf, Germany</h5>
            <p>The land of my birth: Germany. My parents, freshly married, moved to Germany
             after their wedding, and I came soon after.</p>
             <p>My younger sister was born a year and a half later.</p>
             <p>While studying in Germany, my father was given the oppurtunity
             to join an NGO and go to Afghanistan. The rest is history.</p>
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--July 2003-January 2004--</h4>
            <h5 class="text-center mb-3">Leeds, England</h5>
            <p>Before going into Afghanistan, our family went to live in England
            for six months.</p>
            <p>This is where I started picking up English, while forgetting
            my German. </p>
            <p>I guess this is where my first language was decided.</p>
        </div>
         <div class="col-lg-6">
            <img src="{% static 'move/Leeds/SharingCup.jpg' %}" class="img-fluid rounded">
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6">
            <img src="{% static 'move/Kabul/Sabzsang.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--April 2004-May 2007--</h4>
            <h5 class="text-center mb-3">Kabul, Afghanistan</h5>
            <p>This is where I first went to school. I remember being so excited to go to
            kindergarten before my fifth birthday. </p>
            <p>I had amazing teachers and great friends. As a kindergartener, I remember
            looking up at the sixth graders and wondering when I would be like them. </p>
            <p>Quite a few interesting stories from this time. I don't remember everything,
            but I look back on Afghanistan with a tender heart.</p>
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--July 2007-October 2008--</h4>
            <h5 class="text-center mb-3">Daejeon, Korea</h5>
            <p>After the incident in July 2007 with the Koreans and the Taliban,
            our family could no longer stay in Afghanistan. So, for a while, we lived in Korea.</p>
            <p>This is the first and last time I ever attended a Korean public school
            for first and second grade.</p>
            <p>My youngest sister was born at this time. She was a cute surprise baby. </p>
        </div>
         <div class="col-lg-6">
                <img src="{% static 'move/Daejeon/BabyEsIrangHanna.jpg' %}" class="img-fluid rounded">
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6">
                <img src="{% static 'move/Peshawar/ISCP.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--November 2008-July 2011--</h4>
            <h5 class="text-center mb-3">Peshawar, Pakistan</h5>
            <p>These are perhaps the happiest years of my life so far.</p>
            <p>Many people left as we came in, leaving only a handful of foreigners in the country.
            At its lowest point, there were only two families and two ladies in our city. School
            was a blast.
            </p>
            <p>But eventually our family had to leave as well. And since it looked
            like we wouldn't be settling down anytime soon–-an accurate forecast--my sister and I
            started homeschooling.
            </p>
            <p></p>
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
      <div class="col-lg-6 p-3">
            <h4 class="text-center">--April 2012-July 2012--</h4>
            <h5 class="text-center mb-3">Istanbul, Turkey</h5>
            <p>Three months living at Fatih, Istanbul and a few days at a resort by the sea.</p>
            <p>Sounds nice, no? Hikes by the beach, walks through the Grand Bazaar, fresh fish.</p>
            <p>But also the time I started homeschooling in earnest. Not a walk in the park.
            Took a while to get used to.</p>
        </div>
         <div class="col-lg-6">
                <img src="{% static 'move/Istanbul/ResortBaptism.jpg' %}" class="img-fluid rounded">
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6">
                <img src="{% static 'move/Dushanbe/SRAGirls.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--August 2012-August 2013--</h4>
            <h5 class="text-center mb-3">Dushanbe, Tajikistan</h5>
            <p>Our family stayed in Tajikistan for one year.</p>
            <p>Although there was an international
            school, we decided to continue homeschooling. Despite that, I was able
            to make friend there, a few of whom were homeschooled as well.</p>
            <p>Started learning Russian a few months before we left.
            I am only now able to introduce myself, but I do remember that Russian
            numbers are quite complicated.</p>
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--October 2013-December 2017--</h4>
            <h5 class="text-center mb-3">Kathmandu, Nepal</h5>
            <p>I lived in Nepal on an off for about four years.
            Never thought I'd be in Nepal, let alone live there, but life's full of surprises.</p>
            <p>We were in Kathmandu during the earthquake of April, 2015. It was a normal Saturday
            morning; my sisters and I were watching animal videos when the first earthquake hit.</p>
            <p>Overall, a very nice place to live. The sunsets are by far the
            most beautiful here. And if you ever visit, I would definitely recommend
            getting a cup of coffee.
            </p>
        </div>
         <div class="col-lg-6">
                <img src="{% static 'move/Kathmandu/DadHannaBus.jpg' %}" class="img-fluid rounded">
        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6">
                <img src="{% static 'move/Daejeon/KoreaSongFamily.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--April 2016-February 2018--</h4>
            <h5 class="text-center mb-3">Daejeon, Korea</h5>
            <p>Life back in Korea was a strange change of pace. This was the first time
            I felt at home in my 'home' country. Ironic, I know.</p>
            <p>I ordered my first delievery pizza when I was sixteen. You have no idea
            how accomplished I felt. It was truly a life-changing event.</p>

        </div>
    </div>
</div>

<div class="container-md p-2">
    <div class="row align-items-center p-4">
        <div class="col-lg-6 p-3">
            <h4 class="text-center">--March 2018-Present--</h4>
            <h5 class="text-center mb-3">Duisburg, Germany</h5>
            <p>Finally after fifteen years, I have returned to the country of my birth,
            a place I hadn't dreamed of being in again. </p>
            <p>I completed my high school education attending a couple German language courses.
            The plan was then to enroll into a university here. That was the plan.</p>
            <p>Long story short, I found myself in an interesting crack in the system.
            Uncertainty, my ever-present, ever-faithful companion, yet accompanies me. </p>
            <p>I suppose I have much to learn from her still.</p>
        </div>
         <div class="col-lg-6">
                <img src="{% static 'move/Kettwig.jpg' %}" class="img-fluid rounded">
        </div>
    </div>
</div>


<footer class="text-muted">
    <div class="container text-end align-items-center p-4">
        <a href="{% url 'move:all_moves' %}">Back to Top</a>
    </div>
</footer>
</div>

{% endblock %}
