.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Libre Baskerville', serif;
}

#blogtitle {
    font-size: 4rem;
}

#booktitle {
    font-size: 4rem;
}

#timeline {
    font-size: 4rem;
}

#abouttittle {
    font-size: 3rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    
    #blogdetailtitle {
        font-size: 4rem;
    }
    
    #booksummary {
        font-size: 1rem;
    }
    
    #bookauthor {
        font-size: 2rem;
    }
}
